body {
  background: #222;
  color: #fff;
  padding: 20px 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.todo {
  width: 90%;
  max-width: 400px;
  min-width: 250px;
  padding: 20px;
  background-color: #333;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.form input {
  width: 100%;
}

input {
  margin: 5px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 50%;
  background-color: #444;
  color: #fff;
}

.btn {
  cursor: pointer;
  color: #333;
  margin: 5px 0;
  padding: 10px;
  border: none;
  background-color: #ffcc00;
  border-radius: 10px;
  white-space: nowrap;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

.btn:active {
  top: 3px;
}

.btn--type-first {
  background: #ffcc00;
  /* border: 2px solid #000; */
  box-shadow: 0px 4px #ab8901;
}

.btn--type-first:active {
  box-shadow: 0px 1px #ffcc00;
}

.btn--remove {
  background-color: transparent;
}

ul {
  text-align: center;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  gap: 10px;
  cursor: pointer;
  list-style: none;
  color: #ffcc00;
  border-bottom: 1px solid #222;
  animation: 0.4s show ease;
  transition: all 0.3s ease-out;
}

li.hide {
  opacity: 0;
  transform: translateX(30px);
}

li.remove {
  opacity: 0;
  transform: scale(0.7);
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid #ffcc00;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}

.checkbox-mark {
  font-size: 16px;
  line-height: 1;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.checkbox-input:checked + .checkbox-mark {
  opacity: 1;
  content: "✅";
}

.checkbox-input:checked + .checkbox-mark {
  transform: scale(1.2);
}

.task-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin: 10px auto;
  color: #fff;
  font-size: 22px;
  user-select: none;
}

.done .task-text {
  text-decoration: line-through;
  opacity: 0.6;
  color: #888888;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(60px);
  }
}